<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>

  <body class="container">
    <header><% include ./partials/header %></header>
    <main class="main-wrap">
      <h2>Photo Markdowner</h2>
      <p>It's a whole thing.</p>
    </main>

    <footer><% include ./partials/footer %></footer>

    <% include ./partials/bootstrapjs %>
  </body>
</html>
