<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>

  <body class="container">
    <header><% include ./partials/header %></header>
    <main class="main-wrap">
      <h1>Photo Markdowner</h1>
      <p class="body-p">If you have a whole mess of photos and you'd like to turn each one into its own markdown-based Gatsby/Hugo/Jekyll-style blog post, this tool might save you some time. To see how it works, click on About. If your photos are in the /public/photos folder already, click on Admin.</p>
    </main>

    <footer><% include ./partials/footer %></footer>

    <% include ./partials/bootstrapjs %>
  </body>
</html>
