<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
  </head>

  <body class="container-fluid">
    <header><% include ./partials/header {route: route} %></header>
    <div class="row">
      <main class="col pt-5">

        <p>Make KML from the following?</p>
        <% if (data.kmlLayerFile) { %>
        <button id="kml-btn" class="btn btn-success" type="submit">Okay</button>
        <code id="kml-code" class="hidden"><%= data.kmlLayerFile %></code>
        <% data.filenames.forEach(function(stringName) { %>
          <div class="for-each-wrap d-flex flex-wrap justify-content-between align-items-center">
            <p><%= stringName %></p>
            <img class="processing-image" src="public/photos/<%= stringName %>" />
          </div>
        <% }); %>
        <% } else { %>
          <p>Oh hey there's no available photos/data.</p>
        <% }; %>
      </main>
    </div>

    <footer><% include ./partials/footer %></footer>

    <% include ./partials/bootstrapjs %>
    <% include ./partials/kml-script %>
  </body>
</html>