html {
  height: 100%;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.processing-image {
  max-width: 310px;
}
.main-wrap {
  max-width: 700px;
  margin: 0 auto;
  padding-top: 2rem;
}
.for-each-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 650px) {
  .for-each-wrap {
    justify-content: center;
  }
  .filename-h2 {
    text-align: center;
  }
}
.for-each-form {
  height: 100%;
  width: 48%;
  min-width: 310px;
  /* padding: 0.5rem; */
}
input[type="text"] {
  width: 100%;
  /* margin-bottom: 0.5rem; */
}

/* grid */
header {
  grid-row-start: 1;
  grid-row-end: 2;
}
main {
  grid-row-start: 2;
  grid-row-end: 3;
}
footer {
  grid-row-start: 3;
  grid-row-end: 4;
}

/* helper */
.hidden {
  display: none;
}
