html {
  height: 100%;
}
body {
  min-height: 100%;
  width: 80%;
  max-width: 900px;
}

.demo-img-1 {
  max-width: 340px;
}
.demo-img-2 {
  max-width: 400px;
}
.filename-h2 {
  font-size: 24px;
}
.for-each-form {
  min-width: 420px;
}
.processing-image {
  max-width: 420px;
}
input[type="text"] {
  width: 100%;
}

/* grid */
header {
  grid-row-start: 1;
  grid-row-end: 2;
}
main {
  grid-row-start: 2;
  grid-row-end: 3;
}
footer {
  grid-row-start: 3;
  grid-row-end: 4;
}
/* media query*/
@media screen and (max-width: 808px) {
  .demo-img-wrap {
    justify-content: center;
  }
  .for-each-wrap, .demo-img-1 {
    padding-bottom: 32px;
  }
  .for-each-wrap {
    flex-flow: column nowrap;
    justify-content: center;
  }
  .filename-h2 {
    text-align: center;
  }
  .demo-img-wrap h1 {
    display: none!important;
  }
}
/* helper */
.hidden {
  display: none;
}
